html  {
    font-family: 'Noto Serif', serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

body{
    background: url("http://eskipaper.com/images/the-beatles-28.jpg") no-repeat;
    background-size: cover;
    
}
kbd {
    display: block;
    font-size: 4rem;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.key {
    border: 5px solid rgb(255, 0, 0);
    border-radius: .5rem;
    background: rgb(238, 0, 0);
    margin: 1rem;
    transition: all .09s;
    width: 5rem;
    padding: 5px;
    color: rgb(255, 255, 255);

}
.tocando {
    transform:scale(1.1);
    border-color: darkgreen;
}
